<section class="ajout-enchere__page">
	<h1 class="ajout-timbre__title">Création d'une enchère</h1>
	<p class="messageRetourAction {{ classRetour }}">{{ messageRetourAction }}&nbsp;</p>
	<br/>
	<form enctype="multipart/form-data" class="member__form" name="frmAjoutTimbre" method="POST" action="compte?entite=membre&action=at">
		<fieldset>
			<div class="member__items">
				<label>Début de la période d'activité:</label>
				<input type="text" name="enchere_periode_activite_debut" placeholder="AAAA-MM-JJ" value="" class="member__input"/>
			</div>
			<span class="member__error">&nbsp;{{ erreursEnchere.enchere_periode_activite_debut }}</span>
			<div class="member__items">
				<label>Prix plancher:</label>
				<input type="text" name="enchere_prix_plancher" placeholder="00.00" value="" class="member__input"/>
			</div>
			<span class="member__error">&nbsp;{{ erreursEnchere.enchere_prix_plancher }}</span>
			<div class="member__items">
				<label>Fin de la période d'activité:</label>
				<input type="text" name="enchere_periode_activite_fin" placeholder="AAAA-MM-JJ" value="" class="member__input"/>
			</div>
			<span class="member__error">&nbsp;{{ erreursEnchere.enchere_periode_activite_fin }}</span>
			<div class="member__items cache">
				<label>Id de l'utilisateur:</label>
				<input type="text" name="enchere_utilisateur_id" value="{{ oUtilConn.utilisateur_id }}"/>
			</div>
		</fieldset>
		<fieldset>
			<div class="member__items">
				<label>Nom du timbre:</label>
				<input type="text" name="timbre_nom" value="" class="member__input"/>
			</div>
			<span class="member__error">&nbsp;{{ erreursTimbre.timbre_nom }}</span>
			<div class="member__items">
				<label>Date de création du timbre:</label>
				<input type="text" name="timbre_date_creation" placeholder="AAAA-MM-JJ" value="" class="member__input"/>
			</div>
			<span class="member__error">&nbsp;{{ erreursTimbre.timbre_date_creation }}</span>
			<div class="member__items">
				<label>Pays de provenance du timbre:</label>
				<select name="timbre_pays">
					<option>Royaume-Uni</option>
					<option>États-Unis</option>
					<option>France</option>
					<option>Allemagne</option>
					<option>Russie</option>
					<option>Chine</option>
					<option>Japon</option>
					<option>Australie</option>
					<option>Canada</option>
					<option>Inde</option>
					<option>Italie</option>
					<option>Thaïlande</option>
				</select>
				{# <input type="text" name="timbre_pays" value="" class="member__input"/> #}
			</div>
			<span class="member__error">&nbsp;{{ erreursTimbre.timbre_pays }}</span>
			<div class="member__items">
				<label>Condition du timbre:</label>
				<select name="timbre_condition">
					<option>Parfait</option>
					<option>Excellente</option>
					<option>Bonne</option>
					<option>Moyenne</option>
					<option>Endommagé</option>
				</select>
			</div>
			<span class="member__error">&nbsp;{{ erreursTimbre.timbre_condition }}</span>
			<div class="member__items">
				<label>Dimensions du timbre (hauteur x largeur):</label>
				<input type="text" name="timbre_dimensions" placeholder="00cm x 00cm" value="" class="member__input"/>
			</div>
			<span class="member__error">&nbsp;{{ erreursTimbre.timbre_dimensions }}</span>
			<div class="member__items">
				<label>Le timbre est-il certifié?</label>
				<select name="timbre_certification">
					<option value="oui">Oui</option>
					<option value="non">Non</option>
				</select>
			</div>
			<span class="member__error">&nbsp;{{ erreursTimbre.timbre_certification }}</span>
			<div class="member__items">
				<label>Tirage (en nombres):</label>
				<input type="text" name="timbre_tirage" inputmode="numeric" value="" class="member__input"/>
			</div>
			<span class="member__error">&nbsp;{{ erreursTimbre.timbre_tirage }}</span>
			<div class="member__items">
				<label>Couleur principale du timbre:</label>
				<input type="text" name="timbre_couleurs" value="" class="member__input"/>
			</div>
			<span class="member__error">&nbsp;{{ erreursTimbre.timbre_couleurs }}</span>
		</fieldset>
		<fieldset>
			<div class="member__items">
				<label>Image du timbre:</label>
				<input type="file" name="image_fichier" class="member__input --no-underline"/>
				<select name="image_type">
					<option value="primaire">Primaire</option>
					<option value="secondaire">Secondaire</option>
				</select>
			</div>
			<span class="member__error">&nbsp;{{ erreursImage.image_fichier }}</span>
			<span class="member__error">&nbsp;{{ erreursImage.image_type }}</span>
			{# <div class="member__items">
						<label>Image du timbre:</label>
						<span class="member__error">&nbsp;{{ erreursImage.image_fichier }}</span>
						<input type="file" name="image_fichier" value="" class="member__input --no-underline"/>
						<span class="member__error">&nbsp;{{ erreursImage.image_type }}</span>
						<select name="image_type">
							<option value="primaire">Primaire</option>
							<option value="secondaire">Secondaire</option>
						</select>
					</div>
					<div class="member__items">
						<label>Image du timbre:</label>
						<span class="member__error">&nbsp;{{ erreursImage.image_fichier }}</span>
						<input type="file" name="image_fichier" value="" class="member__input --no-underline"/>
						<span class="member__error">&nbsp;{{ erreursImage.image_type }}</span>
						<select name="image_type">
							<option value="primaire">Primaire</option>
							<option value="secondaire">Secondaire</option>
						</select>
					</div>
					<div class="member__items">
						<label>Image du timbre:</label>
						<span class="member__error">&nbsp;{{ erreursImage.image_fichier }}</span>
						<input type="file" name="image_fichier" value="" class="member__input --no-underline"/>
						<span class="member__error">&nbsp;{{ erreursImage.image_type }}</span>
						<select name="image_type">
							<option value="primaire">Primaire</option>
							<option value="secondaire">Secondaire</option>
						</select>
					</div> #}
			<div class="member__items cache">
				<input type="text" name="timbre_utilisateur_id" value="{{ oUtilConn.utilisateur_id }}"/>
			</div>
			<input type="submit" value="Ajouter le timbre" class="member__button button--red" formaction="compte?entite=membre&action=ae&id={{ oUtilConn.utilisateur_id }}"/>
		</fieldset>
	</form>
</section>
